.wrapper {
  width: 350px;
  height: 300px;
  border: 2px solid black;
  margin-bottom: 50px;
  overflow: hidden;
}
.img {
  height: 180px;
  margin-top: 15px;
}
.commentsBtn {
  width: 150px;
  height: 40px;
}
.removeBtn {
  width: 150px;
  height: 40px;
}
.btnGroup {
  display: flex;
  justify-content: center;
  align-content: center;
}
