.wrapper {
    display: flex;
    justify-content: center;
}
.inputComment {
    border: none;
    border-bottom: 1px solid black;
    margin-left: 20px;
    padding: 10px;
    width: 300px;
}
.inputComment:focus {
    border-bottom: 1px solid black;
}
a {
    text-decoration: none;
    color: black;
}
.card {
    background-color:red;
    color: red;
}
.cardWrapper div {
    width: 700px;
}
.cardWrapper img {
    /* border: 1px solid red; */
    height: 200px;
}