@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}
.headerText {
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  margin: 0;
  letter-spacing: 3px;

}



